@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	h2 {
		@apply text-primaryc text-3xl font-bold uppercase leading-[3rem] lg:text-5xl lg:leading-[5rem];
	}

	strong {
		@apply bg-primaryc p-2 text-white;
	}

	:root {
		--primaryc: #ff4219;
		--gray: #5e5e5e;
	}

	h3 {
		@apply text-5xl font-bold;
	}

	p {
		@apply text-lg;
	}

	.shadow-custom {
		box-shadow:
			20px 20px 60px #bebebe,
			-20px -20px 60px #ffffff;
	}

	.shadow-custom--outside-only {
		box-shadow:
			27px -27px 54px 0px #dbdbdb33,
			-27px 27px 54px 0px #dbdbdb33;
	}
}
